.Picker {
	display: inline-block;
	position: relative;
	border: 1px solid $c-grayLines;
	border-radius: 8px;
	width: 216px;
}

.Picker--tel {
	position: absolute;
	border: none;
	border-right: 1px solid $c-grayLines;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	background-color: $c-grayBg;
	width: 70px;
	height: 100%;
}

.Picker__label {
	@include v-hidden;
}

.Picker__button {
	display: flex;
	justify-content: space-between;
	align-items: center;
	cursor: pointer;
	background: none;
	@include caption;
	padding: 16px;
	width: 100%;
	color: $c-dark;
}

.Picker__button--tel {
}
