.Link {
	@include caption();
	&:focus-visible {
		@include focusRing;
	}
}

.Link--blue {
	color: $c-mainBlue;

	& :hover {
		color: $c-hoverBlue;
	}

	&.isPressed {
		color: $c-activeBlue;
	}

	&.isDisabled {
		color: $c-gray;
	}
}

.Link--dark {
	& :hover {
		color: $c-hoverRed;
	}

	&.isPressed {
		color: $c-activeRed;
	}

	&.isDisabled {
		color: $c-gray;
	}
}
