.ForgotPassword {
	&__heading {
		margin-bottom: 12px;
		color: $c-black;
		text-align: center;
	}

	&__content {
		margin-bottom: 32px;
		@include text3;
		align-self: start;
		font-size: 18px;
	}

	&__enter-button {
		align-self: stretch;
		margin-bottom: 24px;
	}
	&__change-number {
		margin: 0px;
	}
}
