.ControlArrowButtons {
	display: flex;
	gap: 12px;
}

.ArrowButton {
	position: relative;

	cursor: pointer;
	border-radius: 50%;
	padding: 0;
	color: $c-dark;

	&--transparent {
		border: 1px solid $c-grayLines;
		background-color: transparent;
		width: 40px;
		height: 40px;
	}

	&--white {
		box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.05);
		background-color: $c-white;
		width: 32px;
		height: 32px;
	}
}

.ArrowButton::before {
	position: absolute;
	top: calc(50% - 3px);

	border-top: 2px solid;
	border-right: 2px solid;
	border-color: $c-dark;
	width: 6px;
	height: 6px;
	content: '';
}

.ArrowButton--left.ArrowButton::before {
	left: calc(50% - 2px);
	transform: rotate(-135deg);
}

.ArrowButton:hover.ArrowButton::before {
	border-color: $c-hoverRed;
}

.ArrowButton--right.ArrowButton::before {
	left: calc(50% - 4px);
	transform: rotate(45deg);
}

.ArrowButton__label {
	@include v-hidden;
}
