// Root values
$animation-duration-100: 100ms;

// Overlays ( dialog, popover, modal, dialog, tray)

$dialog-animation-distance: 20px;

$dialog-animation-duration: 200ms;

$dialog-background-animation-duration: 200ms;

$dialog-exit-animation-ease: cubic-bezier(0.5, 0, 1, 1);
$dialog-entry-animation-ease: cubic-bezier(0, 0, 0.4, 1);
