// Colors

$c-white: #ffffff;
$c-black: #151515;

$c-mainBlue: #3a8ee8;
$c-hoverBlue: #2272c8;
$c-activeBlue: #145ba7;
$c-mainRed: #df3639;
$c-hoverRed: #cb2225;
$c-activeRed: #b70e11;
$c-redGradient: linear-gradient(137.07deg, #df3639 10.42%, #eb7e80 96.99%);

$c-dark: #0c1f34;
$c-gray: #7e8593;
$c-grayLines: #e0e0e0;
$c-grayBtn: #f0f0f0;
$c-disabled: #f0f0f0;
$c-grayBg: #f8f8f8;

$c-green: #56be92;
$c-orange: #ff7b1d;
$c-focus: rgba(153, 153, 158, 0.65);

$c-modal-underlay: hsla(212, 63%, 13%, 0.9);
$c-pink: rgba(222, 7, 53, 0.05);
$c-secondaryPink: #fdf2f5;
$c-avatarBg: #f6ebee;
