// Colors
$white: #fff;
$black: #151515;
$main-blue: #3a8ee8;
$hover-blue: #2272c8;
$active-blue: #145ba7;
$main-red: #df3639;
$hover-red: #cb2225;
$active-red: #b70e11;
$red-gradient: linear-gradient(137.07deg, #df3639 10.42%, #eb7e80 96.99%);
