.Radio--switch {
	padding: 4px 12px;
}
.Radio--switch:first-of-type {
	border-right: 1px solid $c-grayLines;
}

.Radio__label--switch,
.RadioGroup--switch,
.RadioGroup__group--switch {
	@include flex-c;
}

.Radio__label--switch {
	cursor: pointer;
	color: $c-gray;
}

.Radio__label--switch-selected {
	color: $c-dark;
}

.Radio__input {
	@include v-hidden;
}

.RadioGroup--switch {
	border: 1px solid $c-grayLines;
	border-radius: 8px;
	padding: 8px 0px;
}
.Radio__focusRing {
	@include focusRing;
}
