FRONTEND_NETWORK_NAME=proxy-network
BACKEND_NETWORK_NAME=applications-network
COMPOSE_PROJECT_NAME=nextjs.test.chulakov.ru

# Host url with protocol
HOST_URL=http://nextjs.test.chulakov.ru

# Адрес API при выполнении запросов с клиента (браузера)
CLIENT_API_URL=

# Адрес API при выполнении запросов на сервере (Node.js)
SSR_API_URL=

ASSET_PREFIX=
EMAIL_QA=eduard.veykum@chulakov.ru
