.ConfirmCode {
	&__heading {
		margin-bottom: rem(12);
	}
	&__content {
		@include text3;
		margin-bottom: rem(4);
	}

	&__inputs {
		margin-block: rem(24);
	}

	&__enter-button {
		margin-bottom: rem(24);
	}
}
