.Form__ToggleSwitch {
	margin-bottom: 10px;
}

.Form__resetButton {
	padding: 12px 24px;
	width: auto;
}

.Form__price {
	margin-bottom: 26px;
	border-bottom: 1px solid $c-grayLines;
	padding-bottom: 26px;
}

.Form__slider {
	padding-top: 16px;
}
