//===========================================
//============= colors ======================
//===========================================

$dark: hsl(0, 0%, 0%);
$light: hsl(0, 0%, 100%);
$blueText: hsl(201, 96%, 28%);
$gray: hsl(0, 0%, 67%);

//===========================================
//============= dimensions ==================
//===========================================

$contentWidth: rem(1440);
