.Subscriptions {
	box-shadow: 0 0.25rem 1.5rem rgba(79, 105, 118, 0.06);
	border: 1px solid $c-grayBg;
	border-radius: 1.25rem;
	padding: $space-40 $space-32;

	&__heading {
		margin-bottom: $v-space-28;
	}

	&__list {
		@include text3;
		display: flex;
		flex-direction: column;
		gap: $v-space-24;
	}
}
