.PopularBrandsList {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 20px;
}

.PopularBrandsList__item {
	@include flex-c;
	flex-shrink: 0;
	box-shadow: 0px 5px 30px rgba(79, 105, 118, 0.08);
	border-radius: 20px;
	width: 196px;
	height: 88px;
}
