.NewProducts {
	padding: 64px 0;

	&__title {
		@include headingH1;
		margin-bottom: 24px;
	}

	&__wrapper {
		display: flex;
		flex-wrap: wrap;
		align-items: flex-start;
		gap: 20px;
	}

	&__slider {
		flex-shrink: 0;
		min-height: 428px;
	}

	&__headingWrapper {
		display: flex;
		justify-content: space-between;
	}
}
