.ActivityBar {
	&__notifications {
		display: flex;
	}
	&__icon {
		color: transparent;
	}
	&__icon:hover {
		color: #de0735;
	}

	&__heading {
		@include caption($c-gray);
	}
	&__text {
		@include text3;
	}
}
