@use 'sass:math';
@use './utils' as *;


@function fluid(
	$minSize,
	$maxSize,
	$units: 'vw',
	$minWidth: 375,
	$maxWidth: 1440
) {
	// convert to rem
	$minSize: math.div($minSize, 16);
	$maxSize: math.div($maxSize, 16);
	$maxWidth: math.div($maxWidth, 16);
	$minWidth: math.div($minWidth, 16);
	// do calculations
	$slope: math.div(($maxSize - $minSize), ($maxWidth - $minWidth));
	$yAxisIntersection: -$minWidth * $slope + $minSize;
	$preferredValue: '#{decimalRound($yAxisIntersection,3)}rem + #{decimalRound(($slope*100),3) }#{$units}';
	// output as rem
	$minSize: decimalRound($minSize, 3) * 1rem;
	$maxSize: decimalRound($maxSize, 3) * 1rem;
	@return clamp(#{$minSize}, #{$preferredValue}, #{$maxSize});
}

@function rem($size) {
	$remValue: math.div($size, 16);
	$roundedValue: decimalRound($remValue, 3) * 1rem;

	@return $roundedValue;
}

@function relative($size, $width: 1440) {
	$relativeValue: math.div($size, $width);
	$roundedValue: decimalRound($relativeValue * 100, 3);

	@return $roundedValue;
}
