.SuccessfulSendingMail {
	&__icon {
		margin-bottom: rem(24);
	}

	&__heading {
		margin-bottom: rem(16);
		color: $c-black;
		text-align: center;
	}

	&__content {
		margin-bottom: rem(24);
		@include text3;
		font-size: rem(18);
		text-align: center;
	}

	&__enter-button {
		align-self: stretch;
		margin-bottom: rem(24);
	}

	&__email {
		text-decoration: underline;
	}
}
