.MainCategoryList {
	width: 288px;
}

.MainCategoryList__item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	cursor: pointer;

	border-radius: 8px;
	padding: 12px 16px 12px 20px;
	width: 100%;
	@include text3;

	&--active {
		background-color: $c-grayBg;
		font-weight: 500;
	}

	&--active::after {
		display: block;
		transform: rotate(180deg);
		background: url('/icons/common/arrow-left-round.svg');
		width: 16px;
		height: 16px;
		content: '';
	}
}