.CurrentCategoryList {
	&--catalog {
		display: flex;
	}
	&--category {
		margin-right: 55px;
		border-bottom: 1px solid $c-grayLines;
		padding-bottom: 26px;
		width: 270px;
	}
}

.CurrentCategoryList__item {
	&--catalog {
		margin-right: 47px;
		width: 278px;
	}
	&--category {
		&:last-of-type {
			padding-bottom: 8px;
		}
		&:not(:last-of-type) {
			margin-bottom: 26px;
			border-bottom: 1px solid $c-grayLines;
			padding-bottom: 18px;
		}
	}
}
