.container {
	background: var(--alpha);
	color: var(--bravo);
	display: flex;
	flex-direction: column;
	font-family: system-ui, sans-serif;
	line-height: 1.5;
	min-height: 100vh;
	padding: 5vh clamp(1rem, 5vw, 3rem) 1rem;
}

.container > * {
	--layout-spacing: max(8vh, 3rem);
	--max-width: 100ch;
	margin-left: auto;
	margin-right: auto;

	width: min(100%, var(--max-width));
}

.container > main {
	margin-top: var(--layout-spacing);
}

.container > footer {
	margin-top: auto;
	padding-top: var(--layout-spacing);
}

.link {
	align-items: center;
	display: flex;
	justify-content: space-between;
	padding-bottom: 0.4rem;
}

:is(.link, .link:hover, .link:focus) img {
	transition: transform 200ms;
}

:is(.link:hover, .link:focus) img {
	transform: scale(1.1);
}
