.ButtonWithDivider {
	&__button {
		margin-top: 52px;
	}
	&__divider {
		position: absolute;
		bottom: 68px;
		left: 50%;
		transform: translateX(-50%);
		background-color: $c-grayLines;
		width: 100%;
		height: 1px;
	}
}
