@use '../Fields.module.scss' as *;

.PhoneField {
	@extend .field;
	margin-bottom: 16px;
}

.PhoneField__label {
	@extend .label;
	left: 84px;
}

.PhoneField__label.is-filled,
.PhoneField__label.is-focused {
	transform: $labelUpAnimation;
}

.PhoneField__input {
	@extend .input;
	width: 100%;
	padding-left: 84px;
}

.PhoneField__input.is-focusVisible {
	@include focusRing;
}

.PhoneField__error {
	@extend .error;
}