.Dialog {
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	outline: none;
	border-radius: $dialog-border-radius;
	background-color: $dialog-bg-color;

	@extend %scrollbar;
	padding: $dialog-padding-y $dialog-padding-x;

	width: fit-content;
	max-width: 100%;
	max-height: inherit;
	overflow-x: visible;
	overflow-y: auto;
}

.Dialog--withSmallPadding {
	padding-bottom: $dialog-padding-y-small;
}

.Dialog--small {
	width: $dialog-width-small;
}

.Dialog--center {
	align-items: center;
}

.Dialog--fullscreenTakeover {
	border-radius: 0;
	width: 100%;
	height: 100%;
}