.Tooltip {
	@include caption;
	box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.08);
	border-radius: 2px;
	background-color: $c-white;
	padding: 4px 6px;
	@include transition(transform, opacity, visibility);
	transform: translateY(-10);
	visibility: hidden;
	opacity: 0;
	will-change: transform, opacity, visibility;
}

.isOpen {
	transform: translateY(0);
	visibility: visible;
	opacity: 1;
}
