@use 'mixins/typo' as *;
@use 'mixins/animation' as *;
@use 'vars/colors' as *;

$labelUpAnimation: translate(0, 14px) scale(0.63);

.field {
	display: flex;
	position: relative;
	flex-direction: column;
	align-self: stretch;
}

.label {
	@include transition(transform);
	@include caption($c-gray);
	position: absolute;
	top: -6px;
	left: 16px;
	transform: translate(0, 23px) scale(1);
	transform-origin: top left;
	pointer-events: none;
	font-size: 16px;
}

.input {
	@include transition(transform);
	@include text3($c-dark);
	outline: none;
	box-shadow: none;
	border: none;
	border: 1px solid transparent;
	border-radius: 8px;
	background-color: $c-grayBg;
	padding: 20px 16px 8px;
}

.error {
	@include caption($c-mainRed);
	padding-top: 8px;
}
