$picker-border-radius: 8px;

.ListBoxBase {
	margin: 0;
	box-shadow: 0px 5px 30px rgba(79, 105, 118, 0.08);
	// border: 1px solid $c-grayBg;
	border-radius: $picker-border-radius;
	background: #ffffff;
	padding: 8px 0;
	max-height: 250px;
	overflow-y: auto;
	@extend %scrollbar;
	list-style: none;
}

.ListBoxOption {
	outline: none;
	padding: 2px 5px;
	@include caption;
	display: flex;
	align-items: center;
	gap: 12px;
	padding: 16px 20px;
	font-weight: 500;
}

.ListBoxOption.is-focused {
	background-color: $c-grayBg;
}

.ListBoxOption.is-disabled {
	background-color: $c-disabled;
	color: $c-gray;
}

.ListBoxOption.is-selected {
	background-color: $c-grayBg;
}

.ListBoxOption.is-hovered {
	background-color: $c-grayBg;
}

.ListBoxOption.is-hovered {
	background-color: $c-grayBg;
}

.ListBoxOption.is-hovered {
	background-color: $c-grayBg;
}
