.Price__oneProduct {
	@include headingH3;
	display: inline-block;
	margin-right: 12px;
	font-size: 23px;
	line-height: 1.4;
}

.Price__beforeSale {
	@include caption($c-gray);
	display: inline;
}

.Price__package {
	margin-right: 12px;
	@include text3;
	display: inline-block;
	margin-bottom: 16px;
}
