.PersonalData {
	box-shadow: 0 0.25rem 1.5rem rgba(79, 105, 118, 0.06);
	border: 1px solid $c-grayBg;
	border-radius: 1.25rem;
	padding: $space-40 $space-32;
	hyphens: auto;
	word-break: break-word;

	&__heading {
		margin-bottom: $v-space-28;
	}
	&__item:not(:last-child) {
		margin-bottom: $v-space-24;
	}
	&__item-heading {
		@include caption($c-gray);
		margin-bottom: rem(8);
	}
	&__value {
		@include text2;
		display: flex;
		align-items: center;
		gap: rem(8);
	}

	&__text {
		max-width: 40ch;
	}

	&__button {
		margin-left: auto;
	}

	&__mark,
	&__button {
		flex-shrink: 0;
	}
}
