.Tabs__tablistContainer {
	position: relative;
	z-index: 0;
}

.Tabs__tablistContainer--filter {
	margin-bottom: 32px;
	padding: 4px 2px;
}
.Tabs__tablistContainer--registration {
	margin-bottom: 24px;
}

.Tabs__tabSelection {
	position: absolute;
	left: 0;
	z-index: -1;
	@include transition(transform, width);
}

.Tabs__tabSelection--filter {
	top: 2px;
	bottom: 2px;
	will-change: transform, width;
	border-radius: 28px;
	background: $c-grayBtn;
}

.Tabs__tabSelection--filter.is-focused:after {
	position: absolute;
	top: -4px;
	right: -4px;
	bottom: -4px;
	left: -4px;
	z-index: 3;
	border: 2px solid $c-grayBtn;
	border-radius: 28px;
	content: '';
}

.Tabs__tabSelection--registration {
	bottom: 0px;
	z-index: 0;
	will-change: transform;
	background: $c-mainRed;
	height: 1px;
}

.Tabs__tabSelection--registration.is-focused:after {
	position: absolute;
	top: -43px;
	right: -2px;
	left: -2px;
	z-index: -2;
	border: 2px solid $c-focus;
	border-radius: 3px;
	height: 46px;
	content: '';
}

.Tabs__tablist {
	display: flex;
}

.Tabs__tablist--registration {
	justify-content: space-between;
	border-bottom: 1px solid $c-grayLines;
}

.Tabs__tab {
	@include text3;
	cursor: pointer;
	outline: none;
}

.Tabs__tab--filter {
	padding: 6px 20px;
}
.Tabs__tab--registration {
	padding: 8px 20px;
	width: 50%;
	text-align: center;
}

.Tabs__tabPanel--filter {
	padding: 18px 24px;
}
