.RangeSlider {
	display: flex;
	flex-direction: column;
	margin: 0;
	border: 0;
	padding: 0.01em 0 0 0;
	width: 100%;
	touch-action: none;
}

.RangeSlider__outputGroup {
	margin-bottom: 16px;
}

.RangeSlider__output {
	display: flex;
	justify-content: space-between;
}

.RangeSlider__outputItem {
	display: flex;
	align-items: center;
	border: 1px solid $c-grayLines;
	border-radius: 8px;
	padding: 10px 16px;
	width: 127px;
}

.RangeSlider__prefix {
	@include caption($c-gray);

	margin-right: 5px;
}
.RangeSlider__outputInput {
	border: none;
	padding: 0;
	width: 100%;
	color: $c-dark;
}

.RangeSlider__label {
	margin-bottom: 10px;
	@include v-hidden;
}

.RangeSlider__controls {
	position: relative;
	margin: 0 10px;
	height: 30px;
}

.RangeSlider__track {
	position: absolute;
	top: 13px;
	background-color: $c-grayLines;
	width: 100%;
	height: 3px;
}

.RangeSlider__betweenTrack {
	position: absolute;
	top: 13px;
	background-color: $c-mainRed;
	width: 100%;
	height: 3px;
}
