@use '../Fields.module.scss' as *;

.PasswordField {
	@extend .field;
	margin-bottom: 16px;
}

.PasswordField__label {
	@extend .label;
}

.PasswordField__label.is-filled,
.PasswordField__label.is-focused {
	transform: $labelUpAnimation;
}

.PasswordField__input {
	@extend .input;
	padding-right: 55px;
}

.PasswordField__input.is-focusVisible {
	@include focusRing;
}

.PasswordField__error {
	@extend .error;
}



.PasswordField__toggleVisability {
	position: absolute;
	@include flex-c;
	top: 17px;
	right: 16px;

	background: transparent;
	padding: 5px;
	max-height: 18px;
}