.Management {
	&__heading1 {
		margin-bottom: rem(32);
	}

	&__heading {
		margin-bottom: rem(24);
	}

	&__finaceContainer {
		display: flex;
		flex-direction: column;
		gap: rem(20);
		@include respond-above(1170px) {
			flex-direction: row;
		}
	}
}
