.ToggleButton {
	@include flex-c;
	cursor: pointer;
	outline: none;
	background: none;
	padding: 0;
	width: 24px;
	height: 24px;
	color: $c-gray;
	line-height: 1.3;
	@include transition(color);
}

.focusRing {
	outline: -webkit-focus-ring-color auto 1px;
}
.isHovered {
	color: $c-mainRed;
}

.isSelected {
	color: $c-mainRed;
}
