.MyFinances {
	display: flex;
	row-gap: rem(16);
	flex-direction: column;
	justify-content: space-between;
	width: 100%;

	@include respond-above(774px) {
		column-gap: rem(19);
		flex-direction: row;
	}

	&__payment {
		display: flex;
		position: relative;
		justify-content: space-between;
		box-shadow: 0px 5px 30px rgba(79, 105, 118, 0.08);
		border: 1px solid $c-grayBg;
		border-radius: 20px;
		padding: rem(20) rem(24);
		width: 100%;
	}

	&__payment-title {
		@include text2(500);
	}

	&__payment-subtitle {
		max-width: 24ch;

		@include text3($c-gray, 400);
		@include respond-above(774px) {
			padding-top: rem(24);
			padding-bottom: rem(74);
			max-width: 25ch;
		}
	}

	&__logo {
		width: rem(60);
		height: rem(60);
		@include respond-above(774px) {
			position: absolute;
			top: 60%;
			width: rem(148);
			height: rem(148);
		}
	}
}
