.HeaderBottomBar {
	padding-bottom: 20px;
}
.HeaderBottomBar__wrapper {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;

	gap: 40px;
	@include caption;
}

.HeaderBottomBar__icon-wrapper {
	display: flex;
	flex-shrink: 0;
	align-items: center;
	gap: 6px;
}
