@mixin centering {
	display: grid;
	place-content: center;
}

@mixin focusRing {
	outline: var(--grayLines) auto 2px;
	outline-offset: 4px;
}

@mixin container {
	margin-inline: auto;
	max-width: var(--content-width);
	overflow-x: hidden;
	padding-inline: var(--space-80);
}

%container {
	margin-inline: auto;
	max-width: var(--content-width);
	// overflow-x: hidden;
	padding-inline: var(--space-80);
}
