.NewProducts {
	margin-bottom: 48px;
	background-color: $c-grayBg;
	padding: 64px 0;

	&__container {
		@include container;
		overflow: unset;
	}

	&__title {
		@include headingH1;
		margin-bottom: 24px;
	}

	&__wrapper {
		display: flex;
		flex-wrap: wrap;
		align-items: flex-start;
		gap: 18px;
	}

	&__slider {
		flex-shrink: 0;
		height: 428px;
	}
}
