.WhyNotComing {
	&__heading {
		margin-bottom: 16px;
	}
	&__list {
		margin-bottom: 32px;
		list-style: decimal;
		@include text3;
		margin-left: 20px;
	}
	&__list > li:not(:last-of-type) {
		margin-bottom: 5px;
	}
}
