.Underlay {
	@include overlay;
	position: fixed;

	top: 0;
	left: 0;

	width: 100%;
	height: 100%;


	background: $c-modal-underlay;
	overflow-y: auto;
	overflow-x: hidden;
	min-height: var(--visual-viewport-height);

	@include transition(opacity $dialog-background-animation-duration $dialog-exit-animation-ease,
		visibility 0ms linear $dialog-background-animation-duration);
}

.Underlay.is-open {
	@include overlay--open;
	@include transition(opacity $dialog-background-animation-duration $dialog-entry-animation-ease);
}