@use 'sass:color';

@mixin flex-sb {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

$c-gray-lighter: color.adjust($c-gray, $alpha: - 0.7);

.Footer {
	background-color: $c-grayBg;
}

.Footer__container {
	margin: 0 auto;
	padding: 40px 40px 0 40px;
	max-width: $xl;
	overflow: hidden;
}

.Footer__content-wrapper {
	@include flex-sb;

	gap: 10px;

	border-bottom: 1px solid $c-gray-lighter;

	padding-bottom: 40px;
}

.Footer__lists-wrapper {
	flex-basis: 73%;

	@include flex-sb;

	gap: 20px 40px;
}

.Footer__list--untitled {
	align-self: flex-end;
}

.Footer__logo {
	margin-bottom: 32px;
	color: $c-mainRed;
}

.Footer__tel {
	display: block;
	margin-bottom: 8px;

	@include headingH2;
}

.Footer__work-time {
	margin-bottom: 24px;
	max-width: 20ch;
	@include caption($c-gray);
}

.Footer__icon-wrapper {
	display: flex;
	align-items: center;
	gap: 6px;
}

.Footer__feedback {
	@include caption(500);
}

.Foter__bottom-bar {
	@include flex-sb;
	gap: 10px;
	padding: 20px 0;
	@include caption($c-gray);
}

.Footer__credits {
	display: flex;
	flex-basis: 73%;
	flex-wrap: wrap;
	gap: 10px;
}

.Footer__policy,
.Footer__made-in,
.Footer__chulakov {
	flex-shrink: 0;
}

.Footer__made-in {
	margin-right: 12px;
	margin-left: auto;
	@include caption($c-dark);
}
