.SearchField {
	display: flex;
	position: relative;
	flex-direction: column;
}

.SearchField__input {
	outline: none;
	border: 1px solid;
	border-color: $c-grayLines;
	border-radius: 8px;
	padding: 14px 35px 14px 16px;
	@include caption($c-dark);

	&::placeholder {
		color: $c-gray;
	}
	&::-webkit-search-cancel-button,
	&::-webkit-search-decoration {
		-webkit-appearance: none;
	}
	&:focus-visible {
		border-color: $c-gray;
	}
}

.SearchField__searchSvg,
.SearchField__button {
	@include flex-c;
	position: absolute;
	top: 50%;
	right: 12px;
	transform: translateY(-50%);
	color: $c-gray;
}

.SearchField__button {
	cursor: pointer;
	outline: none;
	border: none;
	background: none;
	padding: 0;
}

.SearchField__label {
	@include v-hidden;
}
