.Attributes {
	display: flex;
	gap: 10px;
}

.Attributes__parameters {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.Attributes__labels {
	@include caption($c-gray);
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.Attributes__label {
	padding: 6px 0;
}

.AttributesItem__colorCircle {
	display: block;
	border: 1px solid #e0e0e0;
	border-radius: 50%;
	width: 18px;
	height: 18px;
}
