@mixin clickZone($sizeZone: 10px) {
	position: relative;

	&::before {
		bottom: ($sizeZone * -1);

		content: '';
		cursor: pointer;
		left: ($sizeZone * -1);
		position: absolute;
		right: ($sizeZone * -1);
		top: ($sizeZone * -1);
	}
}
