@use 'vars/colors' as *;

%scrollbar {
	$innerSize: 2px;
	$borderWidth: 7px;

	&::-webkit-scrollbar {
		width: $inner-size + $border-width * 2;
	}

	&::-webkit-scrollbar-thumb {
		background-color: #000;

		border: $border-width solid $white;
		border-bottom: 0;
		border-radius: 8px;
		border-top: 0;
		position: relative;
	}

	&::-webkit-scrollbar-track {
		background: transparent;
	}
}
