@use 'sass:list';
@use 'sass:math';
@use 'sass:meta';
@use '../vars/typography' as *;
@use '../vars/colors' as *;
@use './media' as *;

$local-breakpoint: 700px;

@mixin headingH1($args...) {
	$color: argsColorHandler($args);
	$fw: argsFwHandler($args, 500);

	color: $color;
	font-weight: $fw;
	font-size: $fs-34;
	line-height: 1.2;
}

@mixin headingH2($args...) {
	$color: argsColorHandler($args);
	$fw: argsFwHandler($args, 500);

	color: $color;
	font-weight: $fw;
	font-size: $fs-28;
	line-height: 1.4;
	@include respond-above(40em) {
		line-height: 1.2;
	}
}

@mixin headingH3($args...) {
	$color: argsColorHandler($args);
	$fw: argsFwHandler($args, 500);

	color: $color;
	font-weight: $fw;
	font-size: $fs-23;
	line-height: 1.3;
}

@mixin text1($args...) {
	$color: argsColorHandler($args);
	$fw: argsFwHandler($args);

	color: $color;
	font-weight: $fw;
	font-size: $fs-21;
	line-height: 1.5;
}

@mixin text2($args...) {
	$color: argsColorHandler($args);
	$fw: argsFwHandler($args);

	color: $color;
	font-weight: $fw;
	font-size: $fs-18;
	line-height: 1.5;

	@include respond-below($local-breakpoint) {
		font-size: $fs-16;
		line-height: 1.4;
	}
}

@mixin text3($args...) {
	$color: argsColorHandler($args);
	$fw: argsFwHandler($args);
	color: $color;
	font-weight: $fw;
	font-size: $fs-16;
	line-height: 1.5;

	@include respond-below($local-breakpoint) {
		font-size: $fs-14;
	}
}

@mixin number($args...) {
	$color: argsColorHandler($args);
	$fw: argsFwHandler($args);

	color: $color;
	font-weight: $fw;
	font-size: $fs-23;
	line-height: 1.4;
}

@mixin caption($args...) {
	$color: argsColorHandler($args);
	$fw: argsFwHandler($args);

	color: $color;
	font-weight: $fw;
	font-size: $fs-14;
	line-height: 1.5;
}

@mixin smallText($args...) {
	$color: argsColorHandler($args);
	$fw: argsFwHandler($args);

	color: $color;
	font-weight: $fw;
	font-size: $fs-12;
	line-height: 1.35;
}

@function argsColorHandler($args) {
	$color: $c-dark;

	@if (list.length($args) > 1) {
		$color: list.nth($args, 1);
	}

	@if (list.length($args) == 1) {
		$first: list.nth($args, 1);

		@if (meta.type-of($first) != 'number') {
			$color: $first;
		}
	}

	@if (list.length($args) > 2) {
		@error "максимум 2 аргумента";
	}

	@return $color;
}

@function argsFwHandler($args, $initValue: 400) {
	$fw: $initValue;

	@if (list.length($args) > 1) {
		$fw: list.nth($args, 2);
	}

	@if (list.length($args) == 1) {
		$first: list.nth($args, 1);

		@if (meta.type-of($first) == 'number') {
			$fw: $first;
		}
	}

	@return $fw;

	@if (list.length($args) > 2) {
		@error "максимум 2 аргумента";
	}
}
