@use 'vars' as *;

@mixin v-hidden {
	clip: rect(0 0 0 0);
	position: absolute;
	clip-path: inset(50%);
	margin: 0 -1px -1px 0;
	border: 0;
	width: 1px;
	height: 1px;
	overflow: hidden;
	white-space: nowrap;
}

@mixin container {
	margin-inline: auto;
	padding-inline: $space-80;
	max-width: $xl;
	overflow-x: hidden;
}

@mixin text-shorten($numLines: 1) {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;

	@supports (-webkit-line-clamp: $numLines) {
		-webkit-box-orient: vertical;
		display: -webkit-box;
		-webkit-line-clamp: $numLines;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: initial;
	}
}

@mixin centering {
	display: grid;
	place-content: center;
}

@mixin focusRing {
	outline: $c-grayLines auto 2px;
	outline-offset: 2px;
}
