.PopularCategories {
	margin-top: 64px;
	text-align: center;
	@include container;
	margin-bottom: 48px;
}

.PopularCategoriest__wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 24px;
}

.PopularCategories__title {
	@include headingH1;
}
