@use '../abstract/' as *;

$contentWidth: rem(1440);

:root {
	//===========================================
	//============= dimensioan ==================
	//===========================================

	--grayLines: hsl(0, 0%, 50%);
	--alpha: hsl(249, 87%, 6%);
	--bravo: hsl(187, 15%, 90%);

	//===========================================
	//============= spacers =====================
	//===========================================

	--layout-spacing: max(8vh, 3rem);
	--space-80: #{fluid(20, 50)};

	//===========================================
	//============= dimensions ==================
	//===========================================

	--content-width: #{$contentWidth};
}
